<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <!-- Importing Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
            crossorigin="anonymous" />

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
            integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">


        <!-- <link rel="stylesheet" href="css/style.css"> -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>

    <body>


        <header id='header-home'>
            <!-- Nav Bar -->
            <!-- Note that this container restrains the width of EVERYTING inside to a maximum width, It's called WIDTH CONTAINER-->
            <!-- Navigation Bootstrap -->
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                <div class="container">
                    <h1 class="navbar-brand my-auto">Advanced Geospatial Final Project</h1>
                    <!-- mr-auto makes everythign to the right -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item mx-4">
                            <a href="#" class="nav-link active">Home</a>
                        </li>
                        <li class="nav-item mx-4">
                            <a href="{{url_for('map')}}" class="nav-link">Map</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="header-content">
                <!-- Using JS for typewriting -->
                <h1>I am Michael, <span class="txt-type" data-weight="4000"
                        data-words='["Engineer To Be ","Software Developer ","Investor "]''></span></h1>
        <div class="bottom-line"></div>
        <p class="lead text-white">Engineering Student | Day Trader | Software Developer</p>

    </div>
</header>


<section id="About-section">

    <div class="container text-white">
        <div class="about">
            <h1 class="text-white">About me</h1>

            <div class="row mx-auto con">
                <div class="col first-column portrait">
                    <img src="/static/img/about.jpg" alt="">
            </div>
            <div class="col second-column">
                <p>
                    Hello there! I' m Michael Ah and I'd like to thank you for browsing my website. If you don't know
                        me, I am a passionate 4th Geomatics Engineering student studying at the University of Calgary.
                        </p>

                        <p>
                            My hobbies consist of coding, hiking and watching/playing soccer.
                        </p>

                        <p> I registered in the department of Geomatics Engineering because of my interest in lidar
                            data, GNSS (Global Navigation Satelite Systems) positioning and autonomous driving. In the
                            future I would like to get involved in autonomy and deep learning.

                            I have previous work experience working for Hexagon Autonomy & positioning as an R&D
                            Engineering Intern. </p>
            </div>
            </div>

            </div>
            </div>

            <div class="container text-white">
                <div class="about">
                    <h1 class="text-white">Project Detail</h1>

                    <div class="row mx-auto con">

                        <div class="col second-column">
                            <p>
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                                Lorem ipsum Lorem ipsum Lorem ipsum
                            </p>
                        </div>

                        <div class="col first-column portrait">
                            <img src="static/img/project.png" alt="">
                        </div>
                    </div>

                </div>
            </div>

            </section>


            <!-- <footer id="main-footer" class="bg-dark text-white">
<div class="footer-container container">
<p class="my-auto py-auto">Copyright &copy; 2020 Michael Ah. Written in HTML5 CSS3 & JS</p>
</div>
</footer> -->
    </body>

</html>
